

body {
    margin: 30px auto;
    width: 60%;
    font-family: 'Work Sans', serif;
    font-size: 18px;
    border: 25px;
}


nav ul, footer ul {
    padding: 1px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3B73B9;
}
a:hover {
    text-decoration: underline;
}
/*
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
*/

/*h2 {
    font-family: 'Droid Sans', serif;
}*/

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px ;
    font-size: .8em;
    position:fixed;
    bottom:0;
    z-index:999999
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

hr.thin {
height: 1px;
border: 0;
color: #333;
background-color: #333;
} 

.my_name {
    font-family:"Poiret One";
    font-size:50px;
    font-weight: bold;
    }
