

body {
    margin: 60px auto;
    width: 60%;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 1px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3B73B9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px ;
    font-size: .8em;
    position:fixed;
    bottom:0;
    z-index:999999
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

hr.thin {
height: 1px;
border: 0;
color: #333;
background-color: #333;
} 
