<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Work+Sans">
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		</head>
		<body>
			<center><div class = "my_name">Luis Jover</div></center>
			<nav style = 'color: #808080'>
	    		<ul>
	    			<li><a href="/">Home</a></li>
	    			<li><a href="/about">About</a></li>
	        		<li><a href="/datascience">Projects</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/resume">Resume</a></li>
	    		</ul>
			</nav>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
