<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<hr >
			<nav>
	    		<ul>
	    			<li><a href="/">Luis Jover</a></li>
	    			<li><a href="/about">About</a></li>
	        		<li><a href="/datascience">Projects</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/resume">Resume</a></li>
	    		</ul>
			</nav>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
